.footer-fonts{
	color: #fff;
	font-size: 12px;
}
.footer-bg1{
	background-color:#272f32;
	padding: 20px 10px;
}
.footer-bg2{
	background-color: #303b3d;
	padding: 20px 10px;
}
.footer-fonts1{
	color: #fff;
	font-size: 16px;
}
.img-padding-right{
	padding-right: 15px;
}