/*profile modal*/
.mentor-profile-form .ant-modal{
    width: unset !important;
}
.mentor-profile-form .ant-modal .ant-modal-body{
    height: 700px;
    overflow-y: auto;
}
.mentor-profile-form .ant-modal .ant-modal-footer{
    display: block !important;
}
.mentor-profile-form .ant-modal .add-profile{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px 10px 10px;
    text-align: right;
    border-radius: 0 0 4px 4px;
}

.second-container{
    background-color: #f9f9f9;
}
.show-grid .camera-icon{
    position: relative;
}
.show-grid .camera-icon .profile-img-icon{
    position: absolute;
    top: -44px;
    left: 188px;
}
.img-container{
    width: 255px;
    height: 255px;
    margin: 36px 20px 0px 0px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.img-container .mentor-profile-image{
    width: 224px;
    height: 224px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}
.mentee-name-section{
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}


.mentee-email{
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}

.mentee-designation{
   
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #62646a;
}
.mentee-location{
   
  opacity: 0.3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #212121;
}

.reviewed-online{
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #62646a;
}

.first-container{
    margin-top: 111px;
    margin-bottom: 28px;
}
.mentor-right-col-section{
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
}
.mentor-right-col-heading{
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.77px;
  color: #212121;
}

.mentor-about-content{
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #686868;
  padding-top:9px
}

.each-task-section{
  padding: 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 33px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  margin-bottom:16px
}
.tasks-heading{
  padding-bottom: 25px;
}

.task-name-divider{
  border-left: 1px solid #dce0e6;
  height: 19px;
  margin-top: 3px;
  margin-left: 18px;
  width: 1px;
  margin-right: 18px;
}

.task-name{
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
 
}

.task-category, .task-difficulty-level{
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #676767;
}
.task-category{
  padding-right:10px;
}

 .task-difficulty-level{
   padding-left: 10px;
 }

 .task-description{
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #686868;
  padding-top: 7px;
 }

 .task-details-sec{
   padding-top: 10px;
 }
 .task-explore{
   width: 58%;
    border-radius: 5px;
    background-color: #0074ff;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 52px;
 }

 .task-cost{
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404852;
 }

 .average-rating{
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.77px;
  color: #ffc107;
  padding-right: 7px;
 }

 .total-reviews{
  opacity: 0.5;
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.77px;
  color: #212121;
 }

 .rating-star{
   padding-left:10px;
   padding-right: 5px;
 }

 .custom-hr{
   margin-top: 18px;
   margin-bottom: 15px;
 }

 .mentor-personal-details{
   margin-top: 20px;
  padding: 25px 20px;
  border-radius: 10px;
  background-color: #ffffff;
 }

 .personal-details-heading{
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #212121;
  padding-bottom:15px
 }

 .personal-details-divider{
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #eee;
 }
 .personal-details-maincontent{
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #212121;
  padding-bottom:12px
 }
.personal-details-maincontent a{
    color: #03b2ff;
}
 .personal-details-subcontent{
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #b5b6ba;
  padding-bottom:15px;
 }
 .eduaction-clg{
   padding-bottom: 5px;
 }
 .review-username{
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #212121;
  padding-right: 5px;
  padding-left: 7px;
 }

 .review-rating{
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #ffc107;
 }
 .review-profileimg-div{
   display: inline-block;
   vertical-align: bottom;
 }
 .published-date{
  opacity: 0.5;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #212121;
  margin-left: 7px;
 }
 .review-content{
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #686868;
  padding-top: 12px;
 }

 .skills-row{
   display: flex;
 }

 .skills-column{
  flex: 33.33%;
  padding: 5px;
 }

 /* -------------Custom Scroll------------------ */

.custom-scroll-tasks{
  height: 372px; 
}
.custom-scroll-reviews{
  height: 239px; 
}
#custom-scroll-mentor::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#custom-scroll-mentor::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#custom-scroll-mentor::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(28,58,148);

}
/*--------------- Custom Scroll Ends-------------- */

@media screen and (max-width: 768px){
    .show-grid .first-container .col-md-1{
        margin-top: 10px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px){
    .show-grid .img-container{
        width: 230px;
        height: 230px;
    }
    .show-grid .img-container img{
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 994px) and (max-width: 1044px){
    .show-grid .first-container .col-md-7{
        width: unset;
    }
}
