body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chat-with-mentor ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.chat-with-mentor ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chat-with-mentor ::-webkit-scrollbar-thumb {
  background: rgb(5, 71, 64);
  border-radius: 10px;
}

/* Handle on hover */
.chat-with-mentor ::-webkit-scrollbar-thumb:hover {
  background: #303b3d;
}
.chat-with-mentor .MuiInputBase-input{
  font-size: 15px !important;
}